<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Page</title>
	<style>
		.action-btn {
		           padding: 6px 12px;
		           border: none;
		           cursor: pointer;
		           color: white;
		           border-radius: 4px;
				   background-color: brown;
		       }
	</style>
</head>
<body>
    <h1>Home Page</h1>

    <!-- Greet the user if logged in -->
    <p th:if="${username}" th:text="'Hello, ' + ${username} + '!'"></p>

    <!-- Show product link and logout form only if user is logged in -->
    <div th:if="${username}">
        <a href="/product">Product Page</a>
		<a href="/classes/list">Classes List</a>
		<a href="/formations/list">Formations List</a>
        <form th:action="@{/logout}" method="post" style="display: inline;">
			<button class="action-btn" type="submit">Logout</button>
        </form>
    </div>

    <!-- Message for guests -->
    <p th:if="${username == null}">Welcome, guest! Please <a th:href="@{/login}">log in</a>.</p>
</body>
</html>
